@import url(https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css);
@import url(https://fonts.googleapis.com/css?family=Anton:400|Noto+Sans:400);
@import url(https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Anton&display=swap);

* {
  box-sizing: border-box;
  padding: 0; 
  margin: 0;
  border-image-width: 0;
  scroll-behavior: smooth;
}

*::before, *::after {
  margin: 0; 
  padding: 0;
}

button:focus-visible {
  outline: -webkit-focus-ring-color auto 5px;
  outline: 2px solid #c3d1e2;
}