body {
  position: relative;
  background-color: #200d49;
  overflow-x: hidden;
  overflow-y: scroll;
  /*display: flex;
  flex-direction: row;
  flex: 0 0 auto;
  justify-content: center;
  width: 100vw;
  height: 300vh;*/
}

nav {
  position: fixed;
  overflow: hidden;
  width: 100vw;
  height: 10vh;
  top: 0;
  left: 0;
  z-index: 100;
  /*background-color: transparent;*/
}

.header-background {
  position: fixed;
  width: 100vw;
  height: 10vh;
  top: 0;
  filter: blur(40px);
  background: linear-gradient(180deg,
      rgb(33, 13, 73) 0%,
      rgb(54, 24, 124) 33%,
      rgb(90, 40, 200) 66%,
      rgb(120, 50, 255) 100%);
}

.header-title {
  position: fixed;
  width: 50vw;
  height: 7vh;
  top: 3vh;
  left: 3vw;
  font-family: "Anton", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: clamp(1rem, 3vw, 2.5rem);
  letter-spacing: 0.2rem;
  line-height: normal;
}

.navbar {
  position: fixed;
  display: flex;
  width: 33vw;
  height: 7vh;
  top: 3vh;
  right: 3vw;
  align-items: center;
  justify-content: center;
  gap: 4vw;
}

a {
  font-family: "Anton", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: clamp(1rem, 2vw, 2rem);
  text-align: center;
  letter-spacing: 0.1rem;
  line-height: normal;
}

.navbar-items {
  position: relative;
  flex: 0 0 auto;
}

/*

*/

.about {
  position: absolute;
  display: flex;
  width: 100vw;
  height: 100vh;
  top: 0;
}

.about-left {
  position: absolute;
  width: 30vw;
  height: 80vh;
  top: 20vh;
  left: 0;
}

.portrait {
  position: absolute;
  width: 10vw;
  height: 20vh;
  max-width: 8vw;
  min-width: 5vw;
  max-height: 20vh;
  min-height: 15vh;
  top: 25vh;
  left: 12vw;
}

.ellipse-a2 {
  position: absolute;
  width: 15vw;
  height: 15vh;
  max-width: 15vw;
  min-width: 5vw;
  max-height: 15vh;
  min-height: 5vh;
  top: 15vh;
  left: 15vw;
  background-image: url(../images/ellipse-a2.svg);
  background-size: 100% 100%;
}

.ellipse-a3 {
  position: absolute;
  width: 10vw;
  height: 10vh;
  max-width: 10vw;
  min-width: 5vw;
  max-height: 10vh;
  min-height: 5vh;
  top: 48vh;
  left: 5vw;
  background-image: url(../images/ellipse-a3.svg);
  background-size: 100% 100%;
}

.about-right {
  position: absolute;
  width: 70vw;
  height: 80vh;
  top: 20vh;
  right: 0;
}

.about-me {
  position: absolute;
  width: 70vw;
  height: 70vh;
  max-width: 70vw;
  min-width: 70vw;
  max-height: 80vh;
  min-height: 65vh;
  top: 0;
  left: 0;
  background-image: url(../images/about-tile.svg);
  background-size: 100% 100%;
}

.about-title {
  position: absolute;
  width: 20vh;
  top: 8vh;
  left: 10vw;
  font-family: "Anton", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: clamp(0.5rem, 2vw, 2rem);
  letter-spacing: 0.2rem;
  line-height: normal;
}

.about-text {
  position: relative;
  width: 45vw;
  height: 30vh;
  top: 15vh;
  left: 10vw;
  right: 10vw;
  font-family: "Noto Sans", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: clamp(0.5rem, 1vw, 2rem);
  letter-spacing: 0.1rem;
  line-height: 1.5;
  text-align: justify;
}

.ellipse-a1 {
  position: absolute;
  width: 20vw;
  height: 20vh;
  max-width: 20vw;
  min-width: 10vw;
  max-height: 20vh;
  min-height: 10vh;
  top: 12vh;
  right: -5vw;
  background-image: url(../images/ellipse-a1.svg);
  background-size: 100% 100%;
}

/*

*/
.projects {
  position: absolute;
  display: flex;
  width: 100vw;
  height: 100vh;
  top: 100vh;
}

.projects-title {
  position: relative;
  width: 15vw;
  height: 10vh;
  top: 10vh;
  margin-left: auto;
  margin-right: auto;
  vertical-align: center;
  text-align: center;
  font-family: "Anton", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: clamp(1rem, 3vw, 3rem);
  letter-spacing: 0.2rem;
  line-height: normal;
}

.tube-1 {
  position: absolute;
  width: 15vw;
  height: 20vh;
  max-width: 15vw;
  min-width: 10vw;
  max-height: 20vh;
  min-height: 10vh;
  top: -3vh;
  left: 1vw;
  background-image: url(../images/tube-1.png);
  background-size: 100% 100%;
}

.tube-2 {
  position: absolute;
  width: 10vw;
  height: 15vh;
  top: 27vh;
  left: 5vw;
  background-image: url(../images/tube-2.png);
  background-size: 100% 100%;
}

.cube-1 {
  position: absolute;
  width: 15vw;
  height: 15vh;
  max-width: 15vw;
  min-width: 10vw;
  max-height: 15vh;
  min-height: 10vh;
  top: 11vh;
  right: 6vw;
  background-image: url(../images/cube-1.png);
  background-size: 100% 100%;
}

.pyramid {
  position: absolute;
  width: 10vw;
  height: 15vh;
  top: 40vh;
  right: 2vw;
  background-image: url(../images/pyramid-1.png);
  background-size: 100% 100%;
}

.cone {
  position: absolute;
  width: 10vw;
  height: 12vh;
  top: 70vh;
  right: 30vw;
  background-image: url(../images/cone-1.png);
  background-size: 100% 100%;
}

.cube-2 {
  position: absolute;
  width: 15vw;
  height: 13vh;
  max-width: 15vw;
  min-width: 8vw;
  max-height: 13vh;
  min-height: 6vh;
  top: 80vh;
  left: 15vw;
  background-image: url(../images/cube-2.png);
  background-size: 100% 100%;
}

.projects-left {
  position: absolute;
  width: 45vw;
  height: 45vh;
  top: 25vh;
  left: 5vw;
}

.threedee {
  position: absolute;
  display: flex;
  width: 40vw;
  height: 45vh;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg,
      rgb(38, 8, 103) 0%,
      rgba(38, 8, 103, 0) 100%);
}

.threedee-title {
  position: absolute;
  display: flex;
  width: 20vw;
  height: 20vh;
  align-items: center;
  justify-content: center;
}

.threedee-img {
  position: relative;
  width: 10vw;
  height: 10vh;
}

.projects-right {
  position: absolute;
  width: 45vw;
  height: 45vh;
  top: 25vh;
  right: 5vw;
}

.code {
  position: absolute;
  display: flex;
  width: 40vw;
  height: 45vh;
  top: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg,
      rgb(38, 8, 103) 0%,
      rgba(38, 8, 103, 0) 100%);
}

.code-title {
  position: relative;
  display: flex;
  width: 20vw;
  height: 20vh;
  vertical-align: center;
  align-items: center;
  justify-content: center;
}

.code-img {
  position: absolute;
  width: 15vw;
  height: 10vh;
}

/*
  
*/
.contact {
  position: absolute;
  display: flex;
  width: 100vw;
  height: 95vh;
  top: 200vh;
}

.contact-tile {
  position: relative;
  margin-left: 30vw;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  width: 30vw;
  height: 30vh;
  top: 10vh;
}

.contact-title {
  position: absolute;
  width: 30vw;
  height: 10vh;
  top: 5vh;
  align-items: center;
  justify-content: center;
  font-family: "Anton", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: clamp(1rem, 3vw, 3rem);
  text-align: center;
  letter-spacing: 0.2rem;
  line-height: normal;
}

.icons {
  position: absolute;
  display: flex;
  width: 30vw;
  height: 10vh;
  top: 20vh;
  gap: 3vw;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
}

.github {
  position: relative;
  width: 7vw;
  height: 7vh;
  top: 0;
}

.linkedin {
  position: relative;
  width: 7vw;
  height: 7vh;
}

.mail {
  position: relative;
  width: 7vw;
  height: 7vh;
}

.ellipse-wrapper {
  position: absolute;
  width: 20vw;
  height: 20vh;
  top: 40vh;
  left: 20vw;
}

.ellipse-c1 {
  position: absolute;
  width: 20vw;
  height: 20vh;
  top: 0;
  left: 0;
  /*background-color: #391a61;
  border-radius: 69.5px;
  filter: blur(50px);*/
  background-image: url(../images/ellipse-c1.svg);
  background-size: 100% 100%;
}

.sphere {
  position: absolute;
  width: 12vw;
  height: 12vh;
  max-width: 15vw;
  min-width: 5vw;
  max-height: 15vh;
  min-height: 5vh;
  top: 0;
  right: 12vw;
  background-image: url(../images/sphere-1.png);
  background-size: 100% 100%;
}

.ring {
  position: absolute;
  width: 15vw;
  height: 10vh;
  max-width: 12vw;
  min-width: 7vw;
  max-height: 10vh;
  min-height: 5vh;
  top: 30vh;
  right: 5vw;
  background-image: url(../images/ring-1.png);
  background-size: 100% 100%;
}

/*
  
*/
.bg-shape-wrapper1 {
  position: absolute;
  display: flex;
  width: 15vw;
  height: 15vh;
  top: 100vh;
  right: -7vw;
  align-items: center;
}

.bg-shape-1 {
  position: relative;
  width: 15vw;
  height: 15vh;
  background-color: #30a6cc;
  filter: blur(10vw);
}

.bg-shape-wrapper2 {
  position: absolute;
  display: flex;
  width: 15vw;
  height: 15vh;
  top: 190vh;
  left: -7vw;
  align-items: center;
}

.bg-shape-2 {
  position: relative;
  width: 20vw;
  height: 20vh;
  background-color: #317762;
  filter: blur(10vw);
}

.bg-shape-wrapper3 {
  position: absolute;
  display: flex;
  width: 15vw;
  height: 15vh;
  top: 210vh;
  right: -7vw;
  align-items: center;
}

.bg-shape-3 {
  position: relative;
  width: 20vw;
  height: 20vh;
  background-color: #4c0e4a;
  transform: rotate(45deg);
  filter: blur(10vw);
}

.footer {
  position: absolute;
  display: flex;
  width: 100vw;
  height: 5vh;
  top: 295vh;
  transform: rotate(-180deg);
  filter: blur(50px);
  background: linear-gradient(180deg,
      rgb(33, 13, 73) 0%,
      rgb(54, 24, 124) 33%,
      rgb(90, 40, 200) 66%,
      rgb(120, 50, 255) 100%);
}

/*

  3D-projects page

*/
.design {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;

  background: linear-gradient(206deg,
      rgba(149, 147, 255, 1) 0%,
      rgba(149, 147, 255, 0.75) 15%,
      rgba(149, 147, 255, 0.50) 50%,
      rgba(149, 147, 255, 0.75) 85%,
      rgba(149, 147, 255, 1) 100%);
}

.design-title {
  position: relative;
  width: 30vw;
  height: 10vh;
  top: 15vh;
  margin-top: 2vw;
  margin-bottom: 2vw;
  margin-left: auto;
  margin-right: auto;
  vertical-align: top;
  text-align: center;
  font-family: "Anton", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: clamp(1rem, 3vw, 3rem);
  letter-spacing: 0.2rem;
  line-height: normal;
}

.carousel {
  position: relative;
  align-items: center;
  justify-content: center;
  top: auto;
  margin-top: 2vw;
  margin-bottom: 2vw;
  margin-left: auto;
  margin-right: auto;
  width: 70vw;
  height: 60vh;
  overflow: auto;
  background-image: url(../images/rectangle-projects.svg);
  object-fit: cover;
}

.slider {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 70vw;
  max-width: 70vw;
  height: 30vh;
  padding-top: 2vh;
  object-fit: contain;
}

.slide {
  position: absolute;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  font-weight: bold;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 1s;
  opacity: 0;
}

.slide-1,
.slide-2,
.slide-3,
.slide-4,
.slide-5 {
  display: flex;
  position: absolute;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  transition: 1s;
  align-items: center;
  justify-content: center;
  object-fit: contain;
}

.slide-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  width: auto;
  padding: 1.5vw;
  top: 15vh;
  color: #8c58fc;
  font-weight: bold;
  font-size: 2em;
  transition: 0.6s ease;
  border-radius: 100%;
  user-select: none;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.prev:hover,
.next:hover {
  background-color: #702ffc;
  color: black;
}

.dot-1,
.dot-2,
.dot-3,
.dot-4 {
  display: inline-block;
  position: relative;
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  top: auto;
  background-color: #9593FF;
  border-radius: 50%;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #702ffc;
}