
body {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #200d49;
  overflow-x: hidden;
  overflow-y: scroll;
  line-height: normal;
  /*flex: 0 0 auto;*/
}

nav {
  position: fixed;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: baseline;
  justify-content: space-between;
  width: 100vw;
  height: 10vh;
  top: 0;
  z-index: 100;
}

.header-background {
  position: fixed;
  width: 100vw;
  height: 10vh;
  top: 0;
  filter: blur(40px);
  background: linear-gradient(90deg,
      rgb(33, 13, 73) 0%,
      rgb(54, 24, 124) 33%,
      rgb(90, 40, 200) 66%,
      rgb(120, 50, 255) 100%);
}

.header-title {
  position: relative;
  display: flex;
  width: auto;
  height: auto;
  left: 3vw;
  font-family: "Anton", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: clamp(1rem, 3vw, 2rem);
  letter-spacing: 0.2rem;
  line-height: normal;
}

.navbar {
  position: relative;
  display: flex;
  width: auto;
  height: auto;
  right: 3vw;
  gap: 4vw;
}

.navbar a {
  font-family: "Anton", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: clamp(0.7rem, 2vw, 2rem);
  text-align: center;
  letter-spacing: 0.1rem;
  line-height: normal;
  text-decoration: none;
}

.projects-menu {
  position: relative;
  display: inline-block;
}

.projects-dropdown {
  position: absolute;
  display: none;
  width: 100%;
  z-index: 1;
  text-indent: 10px;
}

.projects-menu:hover .projects-dropdown {
  display: block;
}

section {
  position: relative;
  display: flex;
  width: 100vw;
  height: 90vh;
}

/*
  ************************* LANDING PAGE *************************
*/

/*
  ************************* ABOUT *************************
*/

.ellipse-a1 {
  position: absolute;
  width: 20vw;
  height: 20vh;
  top: 10vh;
  right: -5vw;
  background-image: url(../images/ellipse-a1.svg);
  background-size: 100% 100%;
  z-index: 1;
}

.about-left {
  position: relative;
  display: flex;
  width: 30vw;
  height: 90vh;
}

.portrait {
  position: relative;
  width: 10vw;
  height: auto;
  max-height: 25vh;
  aspect-ratio: 1/2;
  margin: auto;
}

.ellipse-a2 {
  position: absolute;
  width: 15vw;
  height: 15vh;
  max-width: 15vw;
  min-width: 5vw;
  max-height: 15vh;
  min-height: 5vh;
  top: 25vh;
  left: 15vw;
  background-image: url(../images/ellipse-a2.svg);
  background-size: 100% 100%;
}

.ellipse-a3 {
  position: absolute;
  width: 10vw;
  height: 10vw;
  max-width: 10vw;
  min-width: 5vw;
  max-height: 10vh;
  min-height: 5vh;
  bottom: 20vh;
  left: 3vw;
  background-image: url(../images/ellipse-a3.svg);
  background-size: 100% 100%;
}

.about-right {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 70vw;
  height: 90vh;
}

.about-me {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 65vw;
  height: auto;
  margin-top: 10vh;
}

.about-bg-1 {
  position: absolute;
  display: block;
  width: 100%;
  height: auto;
  min-height: 50vh;
  max-height: 80vh;
  object-fit: cover;
  margin-top: 5vh;
}

.about-text {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 80%;
  height: fit-content;
  margin-top: 1rem;
  font-family: "Noto Sans", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: clamp(0.5rem, 1.5vw, 1.5rem);
  font-kerning: auto;
  letter-spacing: 1px;
  line-height: 1.5;
  text-align: justify;
  -webkit-user-select: none;
  user-select: none;
  margin-top: 10vh;
}

.about-text h2{
  width: auto;
  font-family: "Anton", Helvetica;
  font-size: clamp(1rem, 2vw, 2.5rem);
  letter-spacing: 3px;
  line-height: 2;
}

.tech-icons-tile{
  display: flex;
  width: auto;
  height: auto;
  margin-top: 1rem;
  gap: 1vw;
  align-items: center;
  justify-content: left;
}

.tech-icon {
  width: clamp(2rem, 3vw, 3rem);
}

/*
  ************************* PROJECTS *************************
*/

.projects {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.projects-title h2{
  position: relative;
  display: flex;
  width: auto;
  height: 10vh;
  margin: 10vh auto;
  text-align: center;
  font-family: "Anton", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: clamp(1rem, 3vw, 3rem);
  letter-spacing: 3px;
}

.projects-boxes {
  position: relative;
  display: flex;
  width: auto;
  height: auto;
  justify-content: center;
}

.projects-left, .projects-right {
  position: relative;
  display: flex;
  width: 50vw;
  height: 50vh;
  justify-content: center;
}

.threedee, .code {
  position: absolute;
  display: flex;
  width: 75%;
  height: 75%;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg,
      rgb(38, 8, 103) 0%,
      rgba(38, 8, 103, 0) 100%);
}

.threedee-title, .code-title {
  position: relative;
  display: flex;
  width: 20vw;
  height: 20vh;
  align-items: center;
  justify-content: center;
}

.threedee-img {
  position: relative;
  width: 10vw;
  height: 10vh;
}

.code-img {
  position: relative;
  width: 15vw;
  height: 10vh;
}

.tube-1 {
  position: absolute;
  width: 15vw;
  height: 20vh;
  max-width: 15vw;
  min-width: 10vw;
  max-height: 20vh;
  min-height: 10vh;
  top: 10vh;
  left: 1vw;
  background-image: url(../images/tube-1.png);
  background-size: 100% 100%;
}

.tube-2 {
  position: absolute;
  width: 10vw;
  height: 15vh;
  top: 30vh;
  left: 5vw;
  background-image: url(../images/tube-2.png);
  background-size: 100% 100%;
}

.cube-1 {
  position: absolute;
  width: 15vw;
  height: 15vh;
  max-width: 15vw;
  min-width: 10vw;
  max-height: 15vh;
  min-height: 10vh;
  top: 20vh;
  right: 10vw;
  background-image: url(../images/cube-1.png);
  background-size: 100% 100%;
}

.pyramid {
  position: absolute;
  width: 10vw;
  height: 15vh;
  top: 55vh;
  right: 2vw;
  background-image: url(../images/pyramid-1.png);
  background-size: 100% 100%;
}

.cone {
  position: absolute;
  width: 10vw;
  height: 12vh;
  top: 75vh;
  right: 35vw;
  background-image: url(../images/cone-1.png);
  background-size: 100% 100%;
}

/*
  ************************* CONTACT *************************
*/

.contact {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cube-2 {
  position: absolute;
  width: 13vw;
  height: 13vh;
  max-width: 15vw;
  min-width: 8vw;
  max-height: 13vh;
  min-height: 6vh;
  top: 15vh;
  left: 15vw;
  background-image: url(../images/cube-2.png);
  background-size: 100% 100%;
}

.contact-tile {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 30vw;
  height: 30vh;
  justify-content: space-around;
}

.contact-title {
  position: relative;
  display: flex;
  width: 30vw;
  height: auto;
  align-items: center;
  justify-content: center;
  font-family: "Anton", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: clamp(1rem, 3vw, 3rem);
  text-align: center;
  letter-spacing: 3px;
  line-height: normal;
}

.contact-icons {
  position: relative;
  display: flex;
  width: 30vw;
  height: 10vh;
  gap: 3vw;
  align-items: center;
  justify-content: center;
}

.github, .linkedin, .mail {
  position: relative;
  width: 7vw;
  height: 7vh;
}

.ellipse-c1 {
  position: absolute;
  width: 20vw;
  height: 20vh;
  top: 50vh;
  left: 20vw; 
  background-image: url(../images/ellipse-c1.svg);
  background-size: 100% 100%;
  z-index: -1;
}

.sphere {
  position: absolute;
  width: 12vw;
  height: 12vh;
  max-width: 15vw;
  min-width: 5vw;
  max-height: 15vh;
  min-height: 5vh;
  top: 20vh;
  right: 15vw;
  background-image: url(../images/sphere-1.png);
  background-size: 100% 100%;
}

.ring {
  position: absolute;
  width: 12vw;
  height: 10vh;
  max-width: 15vw;
  min-width: 7vw;
  max-height: 15vh;
  min-height: 5vh;
  top: 40vh;
  right: 8vw;
  background-image: url(../images/ring-1.png);
  background-size: 100% 100%;
}

.footer {
  position: absolute;
  display: flex;
  width: 100vw;
  height: 5vh;
  bottom: 0;
  transform: rotate(-180deg);
  filter: blur(50px);
  background: linear-gradient(180deg,
      rgb(33, 13, 73) 0%,
      rgb(54, 24, 124) 33%,
      rgb(90, 40, 200) 66%,
      rgb(120, 50, 255) 100%);
}

/*
  ************************* SIDE ELEMENTS *************************
*/

.bg-shape-1 {
  position: absolute;
  width: 15vw;
  height: 15vh;
  top: 83vh;
  right: -7vw;
  background-color: #30a6cc;
  filter: blur(8vw);
}

.bg-shape-2 {
  position: absolute;
  width: 15vw;
  height: 15vh;
  top: 173vh;
  left: -7vw;
  background-color: #317762;
  filter: blur(8vw);
}

.bg-shape-3 {
  position: absolute;
  width: 15vw;
  height: 15vh;
  top: 210vh;
  right: 0vw;
  background-color: #4c0e4a;
  filter: blur(8vw);
}

/*
  ************************* VIEWPORT <600px *************************
*/

@media (max-width: 600px) {
  nav {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: normal;
    justify-content: space-around;
  }
  .header-title {
    position: fixed;
  }
  .navbar {
    justify-content: flex-end;
  }

/*
  ************************* ABOUT *************************
*/

  .ellipse-a1 {
    top: 5vh;
    right: 0;
  }

  .portrait {
    width: 15vw;
    height: auto;
    max-height: 15vh;
    min-height: 10vh;
  }

  .ellipse-a2 {
    top: 25vh;
  }

  .ellipse-a3 {
    top: 55vh;
  }

  .about-bg-1 {
    visibility: hidden;
  }

  .tech-icons-tile {
    flex-wrap: wrap;
  }

  .tech-icon {
    width: 2rem;
  }

  .about-text {
    width: 85%;
  }

/*
  ************************* PROJECTS *************************
*/

  .projects {
    justify-content: center;
    gap: 10vh;
  }

  .projects-title {
    height: auto;
    margin: 0;
  }

  .projects-left,
  .projects-right {
    height: 20vh;
  }

  .threedee,
  .code {
    width: 40vw;
    height: 20vh;
  }

  .threedee-title,
  .code-title {
    width: auto;
    height: auto;
  }

  .threedee-img {
    width: 10vw;
    height: 7vh;
  }

  .code-img {
    width: 17vw;
    height: 7vh;
  }

  .tube-1 {
    height: 15vh;
    top: 7vh;
    left: 3vw;
  }

  .tube-2 {
    width: 15vw;
    height: 10vh;
    top: 18vh;
    left: 12vw;
  }

  .cube-1 {
    width: 25vw;
    height: 12vh;
    max-width: 25vw;
    top: 20vh;
    right: 5vw;
  }

  .pyramid {
    width: 20vw;
    height: 15vh;
    top: 68vh;
    right: 15vw;
  }

  .cone {
    width: 20vw;
    height: 10vh;
    top: 85vh;
    right: 40vw;
  }

/*
  ************************* CONTACT *************************
*/

  .sphere {
    width: 20vw;
    max-width: 20vw;
  }

  .ring {
    width: 15vw;
    height: 12vh;
  }

  .bg-shape-1, .bg-shape-2, .bg-shape-3 {
    width: 12vw;
    height: 12vh;
    filter: blur(10vw);
  }

  .bg-shape-1 {
    right: 0;
  }

  .bg-shape-2 {
    left: 0;
  }

}

/*
  ************************* 3D-PROJECTS PAGE *************************
*/

.project-frame {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  top: 15vh;
  background: linear-gradient(45deg, rgba(66,27,148,1) 0%, rgba(49,20,111,1) 10%, rgba(29,12,65,1) 25%, rgba(29,12,65,1) 50%, rgba(29,12,65,1) 75%, rgba(49,20,111,1) 90%, rgba(66,27,148,1) 100%);
}

.project-title h2{
  position: relative;
  display: flex;
  width: auto;
  height: auto;
  top: auto;
  margin: auto;
  padding: auto;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  text-align: center;
  font-family: "Anton", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: clamp(1rem, 3vw, 3rem);
  letter-spacing: 0.2rem;
  line-height: 2;
}

.project-title h3 {
  position: relative;
  display: flex;
  width: auto;
  height: auto;
  top: auto;
  margin: auto;
  padding: auto;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  text-align: center;
  font-family: "Noto Sans", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: clamp(0.5rem, 1.2vw, 2rem);
  letter-spacing: 0.1rem;
  line-height: 2;
}

.carousels {
  position: relative;
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  top: auto;
}

.carousel {
  position: relative;
  align-items: center;
  justify-content: center;
  top: auto;
  margin-top: 2vh;
  margin-bottom: 2vh;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2vh;
  padding-bottom: 2vh;
  width: 70vw;
  height: auto;
  overflow: auto;
  background-image: url(../images/rectangle-projects.svg);
  object-fit: cover;
}

.slider {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 70vw;
  max-width: 70vw;
  height: 40vh;
  padding-top: 2vh;
  object-fit: contain;
}

.slide-1,
.slide-2,
.slide-3,
.slide-4,
.slide-5 {
  position: absolute;
  display: flex;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  transition: 1s;
  align-items: center;
  justify-content: center;
  object-fit: contain;
}

.slide-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.prev,
.next {
  position: absolute;
  cursor: pointer;
  width: auto;
  padding: 1.5vw;
  top: 15vh;
  color: #8c58fc;
  font-weight: bold;
  font-size: 2em;
  transition: 0.6s ease;
  border-radius: 100%;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.prev:hover,
.next:hover {
  background-color: #702ffc;
  color: black;
}

.dots {
  text-align: center;
}

.dot-1,
.dot-2,
.dot-3,
.dot-4 {
  position: relative;
  display: inline-block;
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  top: auto;
  background-color: #9593FF;
  border-radius: 50%;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #702ffc;
}

.project-text {
  display: flex;
  flex-direction: column;
  margin: 5vh 5vw;
  height: fit-content;
  font-family: "Noto Sans", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: clamp(0.5rem, 1.2vw, 2rem);
  letter-spacing: 0.1rem;
  line-height: 1.5;
  text-align: justify;
}

/*
  ************************* CODE-PROJECTS PAGE *************************
*/

.code-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
}

.code-icons-img {
  width: 5vw;
  height: 5vh;
}